body {
    background-image: url("../image/background.jpg");

}

.start {
    margin: 150px auto;
    width: 30%;

}

span {
    width: 500px;
    height: 100px;
    margin-left: 15%;

}

button {
    width: 400px;
    height: 200px;
    background-color: #4CAF50;
}

.intro {
    color: red;
    margin: 0 auto;
    padding-top: 110px;
    text-align: center;
    font-size: 50px;
}